<!doctype html>
<html layout:decorate="~{layouts/default}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Add specific stylesheets here -->
</head>
<body>
	<div layout:fragment="content">
		<div class="container main-container">
			<div class="row justify-content-center mt-5 font-weight-bold"
				 style="font-size: 1.2em">
				[[#{accessDeniedMsg}]]!
			</div>
		</div>
	</div>
	
	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<!-- <script src="custom-script"></script> -->
	</th:block>
</body>
</html>