<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Material Design for Bootstrap fonts and icons -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->
	<link rel="stylesheet" href="/fonts/fonts_Roboto_material+icons.css" />
	
	<link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-material-design.min.css" />
	<link rel="stylesheet" href="/css/gijgo.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/control-panel.css" />
	<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div id="admin-panel-logo">
			Admin panel
		</div>
		
		<a class="navbar-brand" id="sidebar-toggle" href="#">
			<i class="fas fa-bars"></i>
		</a>
	
		<a class="navbar-brand dvfu-logo-wrap" href="/">
			<img class="dvfu-logo" src="/img/dvfu_logo_transparent.png" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/schools">Schools</a>
				</li>
			</ul>
			
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link lang-link" href="#" onclick="return changeLang(event)" data-lang="en">EN</a></li>
				<li class="nav-item"><a class="nav-link lang-link" href="#" onclick="return changeLang(event)" data-lang="ru">RU</a></li>
			</ul>
			
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					  <a class="dropdown-toggle user-dropdown--authenticated" id="dropdownMenuButton" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <i class="fas fa-user"></i>
					  </a>
					  <div class="dropdown-menu dropdown-menu-right">
					  	<h6 class="dropdown-header">
					  		<span sec:authentication="principal.lastName">Harington</span> 
					  		<span sec:authentication="principal.firstName">Bob</span>
					  	</h6>
					    <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
					  </div>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container-fluid" id="main-container">
		<div class="row">
			<div id="admin-panel_tabs-wrap">
				<nav>
					<ul class="nav flex-column nav-pills" id="admin-panel_tabs" role="tablist">
						<li class="nav-item_lvl-0">
							<a href="#main-tab-content" class="nav-link" id="main-tab">
								<i class="fas fa-tachometer-alt"></i>Main
							</a>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#" class="nav-link submenu_parent-link" aria-expanded="false" aria-controls="schools">
								<i class="fas fa-university"></i>Schools  
							</a>
							<ul class="collapse side-menu-tab_submenu">
								<li>
									<a href="#schools-list-tab-content" class="nav-link"
										id="schools-list-tab">List</a>
								</li>
								<li>
									<a href="#add-school-tab-content"
									   class="nav-link"
									   id="add-school-tab"
									   data-toggle="tab">Add school</a>
								</li>
								<li>
									<a href="#edit-school-tab-content"
									   class="nav-link"
									   id="edit-school-tab"
									   data-toggle="tab">Edit school</a>
								</li>
								<li>
									<a href="#remove-school-tab-content"
									   class="nav-link"
									   id="remove-school-tab">Remove school</a>
								</li>
							</ul>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#" class="nav-link submenu_parent-link" aria-expanded="false">
								<i class="fas fa-graduation-cap"></i>Majors
							</a>
							
							<ul class="collapse side-menu-tab_submenu">
								<li>
									<a href="#majors-list-tab-content"
									   class="nav-link"
									   id="majors-list-tab">List</a>
								</li>
								<li>
									<a href="#add-major-tab-content"
									   class="nav-link"
									   id="add-major-tab">Add major</a>
								</li>
								<li>
									<a href="#edit-major-tab-content"
									   class="nav-link"
									   id="edit-major-tab">Edit major</a>
								</li>
								<li>
									<a href="#remove-major-tab-content"
									   class="nav-link"
									   id="remove-major-tab">Remove major</a>
								</li>
							</ul>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#" class="nav-link submenu_parent-link" aria-expanded="false">
								<i class="fas fa-user-graduate"></i>Groups
							</a>
							
							<ul class="collapse side-menu-tab_submenu">
								<li>
									<a href="#groups-list-tab-content"
									   class="nav-link"
									   id="groups-list-tab">List</a>
								</li>
								<li>
									<a href="#add-group-tab-content"
									   class="nav-link"
									   id="add-group-tab">Add group</a>
								</li>
								<li>
									<a href="#edit-group-tab-content"
									   class="nav-link"
									   id="edit-group-tab">Edit group</a>
								</li>
								<li>
									<a href="#remove-group-tab-content"
									   class="nav-link"
									   id="remove-group-tab">Remove group</a>
								</li>
							</ul>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#" class="nav-link submenu_parent-link" aria-expanded="false">
								<i class="fas fa-book"></i>Subjects
							</a>
							
							<ul class="collapse side-menu-tab_submenu">
								<li>
									<a href="#subjects-list-tab-content"
									   class="nav-link"
									   id="subjects-list-tab">List</a>
								</li>
								<li>
									<a href="#add-subject-tab-content"
									   class="nav-link"
									   id="add-subject-tab">Add subject</a>
								</li>
								<li>
									<a href="#edit-subject-tab-content"
									   class="nav-link"
									   id="edit-subject-tab">Edit subject</a>
								</li>
								<li>
									<a href="#remove-subject-tab-content"
									   class="nav-link"
									   id="remove-subject-tab">Remove subject</a>
								</li>
							</ul>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#add-subject-translation-tab-content"
							   class="nav-link"
							   id="add-subject-translation-tab">Add subject translation</a>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#add-teacher-translation-tab-content"
							   class="nav-link"
							   id="add-teacher-translation-tab">Add teacher translation</a>
						</li>
						<li class="nav-item_lvl-0">
							<a href="#v-pills-edit-schedule" class="nav-link" id="v-pills-edit-schedule-tab">
								<i class="far fa-calendar-alt"></i>Edit schedule
							</a>
						</li>
				   </ul>
				</nav>
			</div>
			
			
			<div class="col px-5" id="admin-panel_tabs-content">
				<div class="curtain"></div>
			
				<div class="tab-content">
					<div class="tab-pane fade show active"
						 id="main-tab-content"
						 role="tabpanel"
						 aria-labelledby="main-tab">
						 
						 <main-tab></main-tab>
					</div>
					
					<div class="tab-pane fade"
						 id="schools-list-tab-content"
						 role="tabpanel"
						 aria-labelledby="schools-list-tab">
						 
						<schools-list></schools-list>
					</div>
					
					<div class="tab-pane fade"
						 id="add-school-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-school-tab">
						 
						<add-school></add-school>
					</div>
					
					<div class="tab-pane fade"
						 id="edit-school-tab-content"
						 role="tabpanel"
						 aria-labelledby="edit-school-tab">
						 
						<edit-school></edit-school>
					</div>
					
					<div class="tab-pane fade"
						 id="remove-school-tab-content"
						 role="tabpanel"
						 aria-labelledby="remove-school-tab">
						 
						<remove-school></remove-school>
					</div>
					
					<div class="tab-pane fade"
						 id="majors-list-tab-content"
						 role="tabpanel"
						 aria-labelledby="majors-list-tab">
						 
						<th:block th:replace="control/majors-list-tab :: majors-list-tab"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="add-major-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-major-tab">
						 
						<th:block th:replace="control/add-major :: add-major"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="edit-major-tab-content"
						 role="tabpanel"
						 aria-labelledby="edit-major-tab">
						 
						<th:block th:replace="control/edit-major :: edit-major"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="remove-major-tab-content"
						 role="tabpanel"
						 aria-labelledby="remove-major-tab">
						 
						<th:block th:replace="control/remove-major :: remove-major"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="groups-list-tab-content"
						 role="tabpanel"
						 aria-labelledby="groups-list-tab">
						 
						<th:block th:replace="control/groups-list-tab :: groups-list-tab"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="add-group-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-group-tab">
						 
						<th:block th:replace="control/add-group :: add-group"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="edit-group-tab-content"
						 role="tabpanel"
						 aria-labelledby="edit-group-tab">
						 
						<th:block th:replace="control/edit-group :: edit-group"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="remove-group-tab-content"
						 role="tabpanel"
						 aria-labelledby="remove-group-tab">
						 
						<th:block th:replace="control/remove-group :: remove-group"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="subjects-list-tab-content"
						 role="tabpanel"
						 aria-labelledby="subjects-list-tab">
						 
						<th:block th:replace="control/subjects-list-tab :: subjects-list-tab"></th:block>
					</div>
					 
					<div class="tab-pane fade"
						 id="add-subject-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-subject-tab">
						 
						 <th:block th:replace="control/add-subject :: add-subject-tab-content"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="edit-subject-tab-content"
						 role="tabpanel"
						 aria-labelledby="edit-subject-tab">
						 
						 <th:block th:replace="control/edit-subject :: edit-subject-tab-content"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="remove-subject-tab-content"
						 role="tabpanel"
						 aria-labelledby="remove-subject-tab">
						 
						 <th:block th:replace="control/remove-subject :: remove-subject-tab-content"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="add-subject-translation-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-subject-translation-tab">
					
						<th:block th:replace="control/add-subject-translation :: add-subject-translation-tab-content"></th:block>
					</div>
					 
					<div class="tab-pane fade"
						 id="add-teacher-translation-tab-content"
						 role="tab"
						 aria-labelledby="add-teacher-translation-tab">
						  
						  <th:block th:replace="control/add-teacher-translation :: add-teacher-translation-tab-content"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 id="v-pills-edit-schedule"
						 role="tabpanel"
						 aria-labelledby="v-pills-edit-schedule-tab">
						 
						<th:block th:replace="control/edit-schedule :: edit-schedule-tab-controls"></th:block>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/popper.js"></script>
	
	<!-- SnackbarJS plugin -->
	<script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
	
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign();});</script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="module" src="/vue/admin-panel/admin-panel.js"></script>
</body>
</html>