<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:fragment="head">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Material Design for Bootstrap fonts and icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
		<link rel="stylesheet" href="../static/css/fontawesome/css/all.min.css" th:href="@{/css/fontawesome/css/all.min.css}" />
		<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css" th:href="@{/css/bootstrap-material-design.min.css}" />
		<link rel="stylesheet" href="../static/css/gijgo.min.css" th:href="@{/css/gijgo.min.css}" />
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
		<title th:text="${@environment.getProperty('app.title')}"></title>
	</th:block>
</head>
<body>
	<th:block th:fragment="header">
		<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light"
			 style="margin-bottom: 2em">
			<a class="navbar-brand dvfu-logo-wrap" href="#" th:href="@{/}">
				<img class="dvfu-logo" src="../../static/img/dvfu_logo_transparent.png" alt=""
					th:src="@{/img/dvfu_logo_transparent.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="" th:href="@{/}" th:text="#{main}"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" th:href="@{/schools}"
						th:text="#{schools}"></a>
					</li>
				</ul>
				
				<ul class="nav my-2">
					<li class="nav-item"><a class="nav-link lang-link" href="#" onclick="return changeLang(event)" data-lang="en">EN</a></li>
					<li class="nav-item"><a class="nav-link lang-link" href="#" onclick="return changeLang(event)" data-lang="ru">RU</a></li>
				</ul>
				
				<ul class="navbar-nav my-2">
					<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
						  <a class="dropdown-toggle user-dropdown--authenticated" id="dropdownMenuButton" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <i class="fas fa-user"></i>
						  </a>
						  <div class="dropdown-menu dropdown-menu-right">
						  	<h6 class="dropdown-header">
						  		<span sec:authentication="principal.lastName"></span> 
						  		<span sec:authentication="principal.firstName"></span>
						  	</h6>
						  	<a class="dropdown-item" href="#" th:href="@{/account/}">[[#{account}]]</a>
						  	<a class="dropdown-item" href="#" th:href="@{/control/}"
						  	   sec:authorize="hasAnyAuthority('MANAGER','ADMIN')">
						  		[[#{control}]]
					  		</a>
						    <a class="dropdown-item" href="#" th:href="@{/logout}">[[#{logout}]]</a>
						  </div>
					</li>
					
					<li class="nav-item" sec:authorize="!isAuthenticated()">
						<a class="nav-link" th:href="@{/login}">
							<span style="margin-right: .3em;font-weight: bold">[[#{signIn}]]</span><i class="fas fa-sign-in-alt"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</th:block>
</body>
</html>
