<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="add-subject-translation-tab-content"
		  th:action="@{api/control/subject/translation}" method="post"
		  th:object="${addSubjectTranslationDTO}">

		<div class="form-group">
			<label for="subject">[[#{chooseSubject}]]</label>
			<select class="form-control" id="subject" th:field="*{subjectId}">
				<option value="0">[[#{chooseSubject}]]</option>
				<option th:each="subject: ${subjects}" th:value="${subject.id}">[[${subject.name}]]</option>
			</select>
		</div>

		<div class="form-group">
			<label for="locale">[[#{chooseLocalization}]]</label>
			<select class="form-control" id="locale" th:field="*{localeId}">
				<option value="0">[[#{chooseLocalization}]]</option>
				<option th:each="locale: ${locales}" th:value="${locale.id}">[[${locale.code}]]</option>
			</select>
		</div>

		<div class="form-group">
			<label for="subject-translation">[[#{subjectTitle}]]</label>
			<input type="text" class="form-control" id="subject-translation" th:field="*{title}" />
		</div>

		<button type="submit" class="btn btn-success" onclick="addSubjectTranslation(event)">[[#{add}]]</button>
	</form>
</body>
</html>