<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="add-school"
		  action="/api/control/school"
		  th:action="@{/api/control/school}" method="POST">
		
			<!-- Add school in English language -->
	 		<div class="form-group">
		 		<label for="school-name">[[#{englishTitle}]]</label>
		 		<input type="text" class="form-control" id="school-name" name="schoolName">
			</div>
			
			<button type="submit" class="btn btn-success" id="add-school_btn">[[#{add}]]</button>
	 </form>
</body>
</html>