<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="add-subject-tab-content"
		action="/api/control/subject" th:action="@{/api/control/subject}" th:object="${addSubjectDTO}" method="POST">
		
			<!-- Add subject using english lang for name as default -->
	 		<div class="form-group">
		 		<label for="subject-name">[[#{englishTitle}]]</label>
		 		<input type="text" class="form-control" id="subject-name" th:field="*{subjectName}"/>
			</div>
			
			<button type="submit" class="btn btn-success" onclick="addSubject(event)">[[#{add}]]</button>
	 </form>
</body>
</html>