<!doctype html>
<html layout:decorate="~{layouts/default}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Add specific stylesheets here -->
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-3">
				<div class="nav flex-column nav-pills" id="control-tab" role="tablist" aria-orientation="vertical">
					<a href="#main-tab-content"
					   class="nav-link"
					   th:classappend="${#strings.equals(activeTab, 'main')} ? 'active' : ''"
					   id="main-tab"
					   data-toggle="tab"
					   role="tab"
					   aria-controls="main-tab-content" aria-selected="true">[[#{main}]]</a>
					<a href="#add-subject-tab-content"
					   class="nav-link"
					   th:classappend="${#strings.equals(activeTab, 'addSubject')} ? 'active' : ''"
					   id="add-subject-tab"
					   data-toggle="tab"
					   role="tab"
					   aria-controls="add-subject-tab-content" aria-selected="true">[[#{addSubject}]]</a>
					<a href="#add-subject-translation-tab-content"
					   class="nav-link"
					   th:classappend="${#strings.equals(activeTab, 'addSubjectTranslation')} ? 'active' : ''"
					   id="add-subject-translation-tab"
					   data-toggle="pill"
					   role="tab"
					   aria-controls="add-subject-translation-tab-content" aria-selected="true">[[#{addSubjectTranslation}]]</a>
					<a href="#add-teacher-translation-tab-content"
					   class="nav-link"
					   th:classappend="${#strings.equals(activeTab, 'addTeacherTranslation')} ? 'active' : ''"
					   id="add-teacher-translation-tab"
					   data-toggle="pill"
					   role="tab"
					   aria-controls="add-teacher-translation-tab-content" aria-selected="true">[[#{addTeacherTranslation}]]</a>
				</div>
			</div>
			
			<div class="col-md-9">
				<div class="tab-content">
					<div class="tab-pane fade"
						 th:classappend="${#strings.equals(activeTab, 'main')} ? 'show active' : ''"
						 id="main-tab-content"
						 role="tabpanel"
						 aria-labelledby="main-tab">
						 
						 <th:block th:replace="control/main :: main-tab-content"></th:block>
					</div>
					 
					<div class="tab-pane fade"
						 th:classappend="${#strings.equals(activeTab, 'addSubject')} ? 'show active' : ''"
						 id="add-subject-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-subject-tab">
						 
						 <th:block th:replace="control/add-subject :: add-subject-tab-content"></th:block>
					</div>
					
					<div class="tab-pane fade"
						 th:classappend="${#strings.equals(activeTab, 'addSubjectTranslation')} ? 'show active' : ''"
						 id="add-subject-translation-tab-content"
						 role="tabpanel"
						 aria-labelledby="add-subject-translation-tab">
					
						<th:block th:replace="control/add-subject-translation :: add-subject-translation-tab-content"></th:block>
					</div>
					 
					<div class="tab-pane fade"
						 th:classappend="${#strings.equals(activeTab,'addTeacherTranslation')} ? 'show active' : ''"
						 id="add-teacher-translation-tab-content"
						 role="tab"
						 aria-labelledby="add-teacher-translation-tab">
						  
						  <th:block th:replace="control/add-teacher-translation :: add-teacher-translation-tab-content"></th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<script src="../../static/js/control-panel.js" th:src="@{/js/control-panel.js}"></script>
	</th:block>
</body>
</html>