<!doctype html>
<html layout:decorate="~{layouts/default}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Add specific stylesheets here -->
	<link rel="stylesheet" th:href="@{/css/control-panel.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container main-container">
			<div class="row">
				<div class="col-md-3">
					<div class="nav flex-column nav-pills control-panel-tabs" id="control-tab" role="tablist" aria-orientation="vertical">
						<a href="#main-tab-content"
						   class="nav-link"
						   id="main-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="main-tab-content" aria-selected="true">[[#{main}]]</a>
					    <a href="#schools-list-tab-content"
						   class="nav-link"
						   id="schools-list-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="schools-list-tab-content" aria-selected="true">[[#{schools}]]</a>
					    <a href="#add-school-tab-content"
						   class="nav-link"
						   id="add-school-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="add-school-tab-content" aria-selected="true">[[#{addSchool}]]</a>
					    <a href="#edit-school-tab-content"
						   class="nav-link"
						   id="edit-school-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="edit-school-tab-content" aria-selected="true">[[#{editSchool}]]</a>
					    <a href="#remove-school-tab-content"
						   class="nav-link"
						   id="remove-school-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="remove-school-tab-content" aria-selected="true">[[#{removeSchool}]]</a>
						<a href="#majors-list-tab-content"
						   class="nav-link"
						   id="majors-list-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="majors-list-tab-content" aria-selected="true">[[#{majors}]]</a>
						<a href="#add-major-tab-content"
						   class="nav-link"
						   id="add-major-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="add-major-tab-content" aria-selected="true">[[#{addMajor}]]</a>
						<a href="#edit-major-tab-content"
						   class="nav-link"
						   id="edit-major-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="edit-major-tab-content" aria-selected="true">[[#{editMajor}]]</a>
						<a href="#remove-major-tab-content"
						   class="nav-link"
						   id="remove-major-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="remove-major-tab-content" aria-selected="true">[[#{removeMajor}]]</a>
						<a href="#subjects-list-tab-content"
						   class="nav-link"
						   id="subjects-list-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="subjects-list-tab-content" aria-selected="true">[[#{subjects}]]</a>
						<a href="#add-subject-tab-content"
						   class="nav-link"
						   id="add-subject-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="add-subject-tab-content" aria-selected="true">[[#{addSubject}]]</a>
					   	<a href="#edit-subject-tab-content"
						   class="nav-link"
						   id="edit-subject-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="edit-subject-tab-content" aria-selected="true">[[#{editSubject}]]</a>
						<a href="#remove-subject-tab-content"
						   class="nav-link"
						   id="remove-subject-tab"
						   data-toggle="tab"
						   role="tab"
						   aria-controls="remove-subject-tab-content" aria-selected="true">[[#{removeSubject}]]</a>
						<a href="#add-subject-translation-tab-content"
						   class="nav-link"
						   id="add-subject-translation-tab"
						   data-toggle="pill"
						   role="tab"
						   aria-controls="add-subject-translation-tab-content" aria-selected="true">[[#{addSubjectTranslation}]]</a>
						<a href="#add-teacher-translation-tab-content"
						   class="nav-link"
						   id="add-teacher-translation-tab"
						   data-toggle="pill"
						   role="tab"
						   aria-controls="add-teacher-translation-tab-content" aria-selected="true">[[#{addTeacherTranslation}]]</a>
						<a href="#v-pills-edit-schedule"
						   class="nav-link"
						   id="v-pills-edit-schedule-tab"
						   data-toggle="pill"
						   role="tab"
						   aria-controls="v-pills-edit-schedule" aria-selected="true">[[#{editSchedule}]]</a>
					</div>
				</div>
				
				<div class="col-md-9">
					<div class="tab-content">
						<div class="tab-pane fade show active"
							 id="main-tab-content"
							 role="tabpanel"
							 aria-labelledby="main-tab">
							 
							 <th:block th:replace="control/main :: main-tab-content"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="schools-list-tab-content"
							 role="tabpanel"
							 aria-labelledby="schools-list-tab">
							 
							<th:block th:replace="control/schools-list-tab :: schools-list-tab"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="add-school-tab-content"
							 role="tabpanel"
							 aria-labelledby="add-school-tab">
							 
							<th:block th:replace="control/add-school :: add-school"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="edit-school-tab-content"
							 role="tabpanel"
							 aria-labelledby="edit-school-tab">
							 
							<th:block th:replace="control/edit-school :: edit-school"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="remove-school-tab-content"
							 role="tabpanel"
							 aria-labelledby="remove-school-tab">
							 
							<th:block th:replace="control/remove-school :: remove-school"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="majors-list-tab-content"
							 role="tabpanel"
							 aria-labelledby="majors-list-tab">
							 
							<th:block th:replace="control/majors-list-tab :: majors-list-tab"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="add-major-tab-content"
							 role="tabpanel"
							 aria-labelledby="add-major-tab">
							 
							<th:block th:replace="control/add-major :: add-major"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="edit-major-tab-content"
							 role="tabpanel"
							 aria-labelledby="edit-major-tab">
							 
							<th:block th:replace="control/edit-major :: edit-major"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="remove-major-tab-content"
							 role="tabpanel"
							 aria-labelledby="remove-major-tab">
							 
							<th:block th:replace="control/remove-major :: remove-major"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="subjects-list-tab-content"
							 role="tabpanel"
							 aria-labelledby="subjects-list-tab">
							 
							<th:block th:replace="control/subjects-list-tab :: subjects-list-tab"></th:block>
						</div>
						 
						<div class="tab-pane fade"
							 id="add-subject-tab-content"
							 role="tabpanel"
							 aria-labelledby="add-subject-tab">
							 
							 <th:block th:replace="control/add-subject :: add-subject-tab-content"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="edit-subject-tab-content"
							 role="tabpanel"
							 aria-labelledby="edit-subject-tab">
							 
							 <th:block th:replace="control/edit-subject :: edit-subject-tab-content"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="remove-subject-tab-content"
							 role="tabpanel"
							 aria-labelledby="remove-subject-tab">
							 
							 <th:block th:replace="control/remove-subject :: remove-subject-tab-content"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="add-subject-translation-tab-content"
							 role="tabpanel"
							 aria-labelledby="add-subject-translation-tab">
						
							<th:block th:replace="control/add-subject-translation :: add-subject-translation-tab-content"></th:block>
						</div>
						 
						<div class="tab-pane fade"
							 id="add-teacher-translation-tab-content"
							 role="tab"
							 aria-labelledby="add-teacher-translation-tab">
							  
							  <th:block th:replace="control/add-teacher-translation :: add-teacher-translation-tab-content"></th:block>
						</div>
						
						<div class="tab-pane fade"
							 id="v-pills-edit-schedule"
							 role="tabpanel"
							 aria-labelledby="v-pills-edit-schedule-tab">
							 
							<th:block th:replace="control/edit-schedule :: edit-schedule-tab-controls"></th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	
	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<script src="../../static/js/control-panel.js" th:src="@{/js/control-panel.js}"></script>
		<script src="../../static/js/edit-schedule.js" th:src="@{/js/edit-schedule.js}"></script>
	</th:block>
</body>
</html>