<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="edit-major"
		action="/api/control/major" th:action="@{/api/control/major}" method="PUT">
		
	 		<div class="form-group">
		 		<label for="edit-major_major">[[#{major}]]</label>
		 		<select class="form-control" id="edit-major_major" name="id">
		 			<option value="0">[[#{choose}]]</option>
		 			<option th:each="major: ${majorDtoList}" th:value="${major.id}">[[${major.name}]]</option>
		 		</select>
			</div>
		
			<!-- Add subject using english lang for name as default -->
	 		<div class="form-group">
		 		<label for="edit-major_major-name">[[#{englishTitle}]]</label>
		 		<input type="text" class="form-control" id="edit-major_major-name" name="name" />
			</div>
			
			<div class="form-group">
		 		<label for="edit-major_duration">[[#{duration}]]</label>
		 		<select class="form-control" id="edit-major_duration" name="duration">
		 			<option value="0">[[#{choose}]]</option>
		 			<option th:each="i: ${#numbers.sequence(1, 7)}" th:value="${i}">[[${i}]]</option>
		 		</select>
			</div>
			
			<div class="form-group">
		 		<label for="edit-major_degree">[[#{degree}]]</label>
		 		<select class="form-control" id="edit-major_degree" name="degree">
		 			<option value="0">[[#{choose}]]</option>
		 			<option th:each="degree: ${degrees}" th:value="${degree}">[[${degree}]]</option>
		 		</select>
			</div>
			
			<button type="submit" class="btn btn-success" onclick="editMajor(event)">[[#{edit}]]</button>
	</form>
</body>
</html>