<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="edit-school"
		  action="/api/control/school" 
		  th:action="@{/api/control/school}" method="PUT">
		
			<div class="form-group">
				<label for="edit-school_school-select">[[#{chooseSchool}]]</label>
				<select class="form-control" id="edit-school_school-select" name="schoolId">
					<option value="0" selected>[[#{choose}]]</option>
					<option th:each="school: ${schoolDtoList}" th:value="${school.id}">[[${school.name}]]</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="edit-school_school-name-input">[[#{schoolName}]]</label>
				<input class="form-control" id="edit-school_school-name-input" name="newSchoolName" />
			</div>
			
			<button type="submit" class="btn btn-success" onclick="editSchool(event)">[[#{edit}]]</button>
	 </form>
</body>
</html>