<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="edit-group"
		  action="/api/control/group"
		  th:action="@{/api/control/group}" method="PUT">
		  
			<div class="form-group">
				<label for="edit-group_group">[[#{group}]]</label>
				<select class="form-control" name="id" id="edit-group_major">
					<option value="0" selected>[[#{choose}]]</option>
					<option th:each="group: ${groupDtoList}" th:value="${group.id}">[[${group.name}]]</option>
				</select>
			</div>
			
			<div class="form-group">
		 		<label for="edit-group_coursenum">[[#{course}]]</label>
		 		<select class="form-control" id="edit-group_coursenum" name="courseNum">
		 			<option value="0" selected>[[#{choose}]]</option>
		 			<option th:each="i: ${#numbers.sequence(1, 7)}" th:value="${i}">[[${i}]]</option>
		 		</select>
			</div>
			
			<button type="submit" class="btn btn-success" onclick="editGroup(event)">[[#{edit}]]</button>
	 </form>
</body>
</html>