<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf/extras/spring-security"> 
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="groups-list">
		<table class="table table-condensed table-sm table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="group: ${groupDtoList}">
					<td>[[${group.id}]]</td>
					<td>[[${group.name}]]</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>