<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="remove-major"
		action="/api/control/major" th:action="@{/api/control/major}" method="DELETE">
		
	 		<div class="form-group">
		 		<label for="remove-major_major">[[#{major}]]</label>
		 		<select class="form-control" id="remove-major_major" name="id">
		 			<option value="0">[[#{choose}]]</option>
		 			<option th:each="major: ${majorDtoList}" th:value="${major.id}">[[${major.name}]]</option>
		 		</select>
			</div>
			
			<button type="submit" class="btn btn-success" onclick="removeMajor(event)">[[#{delete}]]</button>
	</form>
</body>
</html>