<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf/extras/spring-security"> 
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:fragment="schools-list-tab">
		<div class="form-group">
			<label for="schools-list_locale">[[#{localization}]]</label>
			<select name="schoolId" id="schools-list_locale" class="form-control" onchange="getSchoolsList(event)">
				<option value="0" selected>[[#{chooseLocalization}]]</option>
				<option th:each="locale: ${locales}" th:value="${locale.id}">[[${locale.code}]]</option>
			</select>
		</div>
		
		<div class="schools-list_content">
			<div th:replace="control/schools-list :: schools-list"></div>
		</div>
	</form>
</body>
</html>