<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf/extras/spring-security"> 
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div th:fragment="subjects-list-tab">
		<form th:action="@{/api/subjects}" class="subjects-list_form"></form>
		<div class="form-group">
			<label for="subjects-list_locale">[[#{localization}]]</label>
			<select name="" id="subjects-list_locale" class="form-control" onchange="getSubjectsList(event)">
				<option value="0" selected>[[#{chooseLocalization}]]</option>
				<option th:each="locale: ${locales}" th:value="${locale.id}">[[${locale.code}]]</option>
			</select>
		</div>
		
		<div class="subjects-list_content">
			<div th:replace="control/subjects-list :: subjects-list"></div>
		</div>
	</div>
</body>
</html>