<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div class="modal fade edit-schedule-modal"
		 tabindex="-1"
		 role="dialog"
		 th:fragment="target">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body edit-schedule-modal-body">
					<form>
						<input type="text" class="form-control" id="modal-group-id" style="display: none">
						<input type="text" class="form-control" id="modal-schedule-id" style="display: none">
						<input type="text" class="form-control" id="modal-week" style="display: none">
						<input type="text" class="form-control" id="modal-day-num" style="display: none">
						
						<div class="form-group">
							<label for="modal-lesson-num">Lesson number:</label>
							<select class="custom-select" id="modal-lesson-num" disabled>
								<option selected>Choose...</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select>
						</div>
						<div class="form-group">
							<label for="modal-subject">Subject title:</label>
							<select class="custom-select" id="modal-subject">
								<option th:each="subject: ${subjects}" th:text="${subject.value}" th:value="${subject.key}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="modal-lesson-type">Lesson type:</label>
							<select class="custom-select" id="modal-lesson-type">
								<option value="0" selected>Choose...</option>
								<option value="1">Lection</option>
								<option value="2">Practice</option>
							</select>
						</div>
						<div class="form-group">
							<label for="modal-teacher">Teacher:</label>
							<select class="custom-select" id="modal-teacher">
								<option value="0" selected>Choose...</option>
								<option th:each="teacher: ${teachersNames}" th:text="${teacher.value}" th:value="${teacher.key}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="message-text">Classroom:</label>
							<input type="text" class="form-control" id="modal-classroom">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button"
							class="btn btn-primary schedule-save-changes-btn"
							onclick="saveScheduleChanges(event)">
						Save changes
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>