<!DOCTYPE html>
<html layout:decorate="~{layouts/default}"
	  lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Add specific stylesheets here -->
	<link rel="stylesheet" th:href="@{/css/schedule.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container main-container">
			<div class="row">
				<div class="col-sm-12 col-md-3" style="margin-bottom: 1em">
					<div class="nav flex-column nav-pills schedule-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				      <a class="nav-link active" id="v-pills-table-list-tab" data-toggle="pill" href="#v-pills-table-list" role="tab" aria-controls="v-pills-table-list" aria-selected="true">[[#{tableList}]]</a>
				      <a class="nav-link" id="v-pills-single-table-tab" data-toggle="pill" href="#v-pills-single-table" role="tab" aria-controls="v-pills-single-table" aria-selected="false">[[#{singleTable}]]</a>
				      
				      <!-- <a sec:authorize="hasAuthority('MANAGER')" class="nav-link" id="v-pills-edit-schedule-tab" data-toggle="pill" href="#v-pills-edit-schedule" role="tab" aria-controls="v-pills-edit-schedule" aria-selected="false">[[#{editSchedule}]]</a> -->
				    </div>
				</div>
			
				<div class="col-sm-12 col-md-9">
					<div class="tab-content" id="v-pills-tabContent">
				      <div class="tab-pane fade show active" id="v-pills-table-list" role="tabpanel" aria-labelledby="v-pills-home-table-list-tab">
				      	<th:block th:replace="schedule/list-of-tables/table-list"></th:block>
				      </div>
				      
				      <div class="tab-pane fade" id="v-pills-single-table" role="tabpanel" aria-labelledby="v-pills-single-table-tab">
				      	<th:block th:replace="schedule/single-table/single-table"></th:block>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<!-- <script src="custom-script"></script> -->
	</th:block>
</body>
</html>