<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div th:fragment="target">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="up-week-tab" data-toggle="tab" href="#up-week" role="tab" aria-controls="up-week" aria-selected="true">[[#{up}]]</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="down-week-tab" data-toggle="tab" href="#down-week" role="tab" aria-controls="down-week" aria-selected="false">[[#{down}]]</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane fade show active" id="up-week" role="tabpanel" aria-labelledby="up-week-tab">
				<div th:insert="schedule/table-day-schedule :: target" th:with="week=${'up'}"></div>
			</div>
			
			<div class="tab-pane fade" id="down-week" role="tabpanel" aria-labelledby="down-week-tab">
				<div th:insert="schedule/table-day-schedule :: target" th:with="week=${'down'}"></div>
			</div>
		</div>
	</div>
</body>
</html>