<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div class="table-responsive" th:fragment="target" th:each="day, itr : ${days}">
		
		<table class="table table-condensed table-sm table-striped"
			th:data-day-num="${itr.index + 1}"
			th:data-week="${week}"
			th:data-group-id="${groupId}"
			style="margin-top: 2em">
			<thead>
				<tr>
					<th scope="col" colspan="7" th:text="#{__${day}__}"></th>
				</tr>
				<tr>
					<th scope="col" style="width: 5%">#</th>
					<th scope="col" style="width: 15%">[[#{time}]]</th>
					<th scope="col" style="width: 20%">[[#{title}]]</th>
					<th scope="col" style="width: 15%">[[#{type}]]</th>
					<th scope="col" style="width: 20%">[[#{teacher}]]</th>
					<th scope="col" style="width: 10%">[[#{classroom}]]</th>
					<th scope="col" 
						colspan="2"
						style="min-width: 100px"
						th:if="${showControls}">[[#{controls}]]</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bell : ${bells}"
					th:with="curSchedule=${schedules.get(day, bell.key, week)}"
					th:data-schedule-id="${curSchedule != null ? curSchedule['scheduleId'] : 0}">
					<td scope="col" class="lesson-num" th:text="${bell.key}" style="width: 10%">Lesson number</td>
					<td scope="col" th:text="${bell.value}">Time</td>
					
					<!-- Subject title -->
					<td scope="col"
						class="subject"
						th:data-id="${curSchedule != null ? curSchedule['subjId'] : 0}"
						th:text="${curSchedule != null} ? ${curSchedule['subjectTitle']} : #{noLesson}">
						Subject
					</td>
					
					<!-- Lesson type -->
					<td scope="col"
						class="lesson-type"
						th:with="lessonType=${curSchedule != null ? curSchedule['lessonType'] : null}"
						th:text="${lessonType != null} ? #{__${lessonType}__} : #{notStated}"
						th:data-lesson-type="${lessonType != null ? lessonType : 0}">
						Lesson type
					</td>
					
					<!-- Teacher -->
					<td scope="col"
						class="teacher"
						th:with="teacher=${curSchedule != null ? curSchedule['teacher'] : null}"
						th:text="${teacher != null} ? ${teacher['name']} : #{notStated}"
						th:data-id="${teacher != null ? teacher['id'] : 0}">
						Teacher
					</td>
					
					<!-- Classroom -->
					<td scope="col"
						class="classroom"
						th:with="classroom=${curSchedule != null ? curSchedule['classroom'] : null}"
						th:text="${classroom != null} ? ${classroom} : #{notStated}">
						Classroom
					</td>
					
					<td th:if="${showControls}" scope="col" colspan="2">
						<button type="button"
								class="btn btn-primary edit-schedule-btn"
								onclick="showEditScheduleModal(event)">
							<i class="fas fa-edit"></i>
						</button>
						<button type="button" class="btn btn-danger remove-schedule-btn"
								onclick="showRemoveScheduleModal(event)">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>