/*.control-panel-tabs .nav-link {
	padding: 1em .8575em;
	border-left: 3px solid transparent;
}
.control-panel-tabs .nav-link.active {
	border-left: 3px solid blue!important;
	background: #5757e014!important;
}*/

body {
	background-image: linear-gradient(rgba(255,255,255,0.7),#f2f7fb 0%);
}

.side-menu-tab_submenu a {
	padding: 1em 1em 1em 2.3em!important;
	border: none!important;
}

.curtain {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: .5;
}

#admin-panel-logo {
	align-self: stretch;
	align-items: center;
	margin: -0.5rem auto -0.5rem -1rem;
	width: 240px;
	background-color: #404e67;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 1.1em;
}

#sidebar-toggle {
	margin-left: 10px;
}

/* Side panel */
#admin-panel_tabs-wrap {
	position: fixed;
	width: 240px;
	top: 56px;
	background: #404e67;
	
	max-height: calc(100vh - 56px);
	min-height: calc(100vh - 56px);
	transition: left .2s;
}

#admin-panel_tabs,
#admin-panel_tabs-wrap nav {
	max-height: inherit;
	min-height: inherit;
}

#admin-panel_tabs {
	flex-wrap: nowrap;
	overflow-y: scroll;
}

#admin-panel_tabs ul {
	list-style: none;
	padding: 0;
}

#admin-panel_tabs::-webkit-scrollbar {
	width: 5px;
	background: #75839c;
}

#admin-panel_tabs::-webkit-scrollbar-thumb {
	background: #2c3f63;
	border-radius: 2px;
}

.side-menu-tab_submenu {
	background-color: #354258;
}

.side-menu-tab_submenu > li > a.show.active {
	background-color: #394a67;
}

.nav-item_lvl-0 > a > i {
	font-size: 1.2em;
	margin-right: .5em;
}

#admin-panel_tabs a,
.side-menu-tab_submenu {
	border-bottom: 1px solid #2f3b50;
}

#admin-panel_tabs > li > a[aria-expanded=true],
#admin-panel_tabs > li > a.active {
	background-color: #2c384e;
}

#admin-panel_tabs a {
	padding: 1em;
	color: #fff;
}

#main-container {
	padding-top: 0;
	margin-top: 56px;
	overflow-x: hidden;
}

#main-container, #main-container > .row {
	min-height: calc(100vh - 56px);
}

#admin-panel_tabs-content {
	padding-top: 2em;
	transition: margin .2s;
}

@media screen and (max-width: 768px) {
	#admin-panel-logo {
		display: none;
	}
	
	#admin-panel_tabs-content {
		flex: 0 0 100%;
		max-width: 100%;
		margin-left: 0px;
	}
	
	#admin-panel_tabs-content.side-menu-toggled {
		margin-left: 240px!important;
	}
	
	#admin-panel_tabs-content.side-menu-toggled .curtain {
		display: block;
	}
	
	#admin-panel_tabs-wrap {
		left: -240px;
	}
	
	#admin-panel_tabs-wrap.side-menu-toggled {
		left: 0px!important;
	}
}

@media screen and (min-width: 768px) {
	#admin-panel-logo {
		display: flex;
	}
	
	#admin-panel_tabs-content {
		margin-left: 240px;
	}
	
	#admin-panel_tabs-content.side-menu-toggled {
		margin-left: 0px!important;
	}
	
	#admin-panel_tabs-wrap {
		left: 0px;
	}
	
	#admin-panel_tabs-wrap.side-menu-toggled {
		left: -240px!important;
	}
}