body {
	min-height: 100vh;
}
.main-container {
	 padding-top: 2em;
}
.remove-schedule-btn, .edit-schedule-btn {
	padding: .46rem .8rem!important;
}
.dvfu-logo-wrap {
	padding-top: 0;
	padding-bottom: 0;
}
.dvfu-logo {
	width: 29px;
	height: auto;
}
.info img {
	width: 100%;
	height: 300px;
	border-radius: .25em;
	object-fit: cover;
}
.lang-link {
	padding: .3rem .6rem;
	border: 2px solid transparent;
}
.lang-link:hover {
	border-bottom: 2px solid dodgerblue;
}
.user-dropdown--authenticated {
	margin-left: 1em;
}
.user-dropdown--authenticated:hover {
	cursor: pointer;
	text-decoration: none;
}