<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
 <th:block th:replace="layouts/_head"></th:block>
</head>
<body>
	<div th:replace="layouts/_menu"></div>

	<div class="container" style="padding-top: 2em">
		<div class="info">
			<img alt=""
				src="http://vladivostok.travel/upload/resize_cache/iblock/5af/800_450_2/5af2cd1cfc1918546d093a19d3f13bab.jpg">
			<p th:text="#{mainInfo1}"></p>

			<p th:text="#{mainInfo2}"></p>
		</div>
	</div>
	
	Your name: <span sec:authentication="name"></span>
	
	<span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span> |
        <a th:href="@{/logout}">Sign Out</a>
    </span>
    
    <span sec:authorize="hasAuthority('MANAGER')">
    	You are manager!
    </span>


	<th:block th:replace="layouts/_footer"></th:block>
</body>
</html>