<!DOCTYPE html>
<html layout:decorate="~{layouts/default}"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Add specific stylesheets here -->
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="info">
			<img alt=""
				src="http://vladivostok.travel/upload/resize_cache/iblock/5af/800_450_2/5af2cd1cfc1918546d093a19d3f13bab.jpg">
			<p th:text="#{mainInfo1}"></p>

			<p th:text="#{mainInfo2}"></p>
		</div>
	</div>
	
	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<!-- <script src="custom-script"></script> -->
	</th:block>
</body>
</html>