<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <div th:replace="layouts/_header"></div>
</head>
<body>
	<div th:replace="layouts/_menu :: menu"></div>

	<div class="container" style="padding-top: 2em">
		<div class="info">
			<img alt=""
				src="http://vladivostok.travel/upload/resize_cache/iblock/5af/800_450_2/5af2cd1cfc1918546d093a19d3f13bab.jpg">
			<p th:text="#{mainInfo1}"></p>

			<p th:text="#{mainInfo2}"></p>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/popper.js" th:src="@{/js/popper.js}"></script>
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>