<!doctype html>
<html layout:decorate="~{layouts/default}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Add specific stylesheets here -->
</head>
<body>
	<div layout:fragment="content">
		<div class="container main-container">
			<div class="courseGroups" th:each="groupMap:  ${groupsMap}">
				<h3 th:text="${groupMap.key} +' '+ #{courseTitle}"></h3>
				<ul class="nav">
					<li class="nav-item" th:each="group: ${groupMap.value}">
						<a href="№" th:href="@{/__${group.id}__/schedule}" th:text="${group.name}"></a>
					</li>
				</ul>
				<br>
			</div>
		</div>
	</div>
	
	<!-- Use it to add specific scripts to this page -->
	<th:block layout:fragment="extend-footer">
		<!-- <script src="custom-script"></script> -->
	</th:block>
</body>
</html>