<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/_head"></th:block>
</head>
<body>
	<div th:replace="fragments/_menu :: menu"></div>
	
	<div class="container" style="padding-top: 2em">
		<div class="courseGroups" th:each="groupMap:  ${groupsMap}">
			<h3 th:text="${groupMap.key.number} +' '+ #{courseTitle}"></h3>
			<ul class="nav">
				<li class="nav-item" th:each="group: ${groupMap.value}">
					<a href="№" th:href="@{/__${group.id}__/schedule}" th:text="${group.title}"></a>
				</li>
			</ul>
			<br>
		</div>
	</div>
	
	<th:block th:replace="fragments/_footer"></th:block>
</body>
</html>