<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="layouts/_head"></div>
</head>
<body>
	<div th:replace="layouts/_menu"></div>
	
	<div class="container" style="padding-top: 2em">
		<div class="row">
			<div class="accordion" id="accordionExample">
				<div class="card" th:each="school: ${schools}">
					<div class="card-header"
						th:id="${'school_' + school.value.id + '_header'}">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse"
								th:data-target="${'#school_' + school.value.id + '_collapse'}"
								aria-expanded="true"
								th:aria-controls="${'school_' + school.value.id + '_collapse'}"
								th:text="${school.value.title}">Collapsible Group Item #1
							</button>
						</h5>
					</div>

					<div th:id="${'school_' + school.value.id + '_collapse'}"
						class="collapse"
						th:aria-labelledby="${'school_' + school.value.id + '_header'}"
						data-parent="#accordionExample">
						<div class="card-body">
							<ul>
								<li th:each="major: ${school.value.majors}">
									<a href=""
										th:href="@{/__${#session.getAttribute('URL_LOCALE_ATTRIBUTE_NAME')}__/schools/__${school.key.url}__/major/__${major.get('url')}__}"
										th:text="${major.get('title')}">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="layouts/_footer"></div>
</body>
</html>